/*GLOBAL*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.50%;
    line-height: 1;
}

body {
    font-family: 'Open Sans', 'sans-serif';
    font-size: 1.6rem;
    color: #222;
}

/*GENERAL*/

.container {
    padding: 0 3.2rem;
    margin: 0 auto;
    max-width: 135rem;
}

.logo a:link, .logo a:visited {
    font-size: 3.2rem;
    font-weight: 700;
    min-width: 25%;
    text-align: center;
    color: #f2f2f2;
    text-decoration: none;
    transition: all 0.3s;
}

.logo a:hover, .logo a:active {
    color: #fff;
}

.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.2rem;
    min-width: 33.33%;
}

.nav-link:link, .nav-link:visited {
    color: #f2f2f2;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.6rem;
    border-bottom: 2px solid transparent;
    transition: all 0.3s;
}

.nav-link:hover, .nav-link:active {
    color: #fff;
    border-bottom: 2px solid #fff;
}

.nav-link-icon:link,
.nav-link-icon:visited {
    color: #f2f2f2;
}

.nav-link-icon:hover,
.nav-link-icon:active {
    color: #fff;
}

.search {
    cursor: pointer;
}

.search-icon {
    height: 2.4rem;
    width: 2.4rem;
}

h2 {
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h1 {
    font-size: 4.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

ion-icon:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

/*HEADER*/

.header {
    background-color: #000;
}

/**NAV**/

/*MAIN NAV*/

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 3.2rem;
    background-color: #000;
}

.nav-menu--primary {
    justify-content: flex-start;
}

.nav-menu--secondary {
    justify-content: flex-end;
    gap: 1.2rem;
}

.nav-link--trending {
    display: flex;
    align-items: center;
}

.nav-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
}

.nav-menu--primary .nav-icon,
.nav-menu--secondary .nav-icon {
    height: 3.2rem;
    width: 3.2rem;
    cursor: pointer;
}



/**SECONDARY NAV**/

.secondary-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.6rem 3.2rem;
    background-color: #000;
    border-top: 1px solid #212121;
}

/*MAIN CONTENT*/

/**SECTIONS**/

/***LIGHT***/

.section  {
    padding: 3.2rem 0;
}

.section-heading {
    padding: 0 0 3.2rem;
}

.articles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3.2rem;
    row-gap: 6.4rem;
}

.article-content {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.article-img img {
    background-color: #ccc;
    width: 100%;
    border-radius: 0.4rem;
}

.article-meta {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2.4rem;
}

.article-meta a:link, 
.article-meta a:visited {
    text-decoration: none;
    transition: all 0.3s;
    font-weight: 600;
    color: rgba(34, 34, 34, 0.6);
}

.article-meta a:hover, 
.article-meta a:active {
    color: #222;
}

.article-date {
    color: rgba(34, 34, 34, 0.6);
    font-weight: 600;
}

.article-cat {
    position: relative;
}

.article-cat::after {
    content: "";
    border-right: 1px solid rgba(34, 34, 34, 0.6);
    height: 100%;
    position: absolute;
    margin-left: 1.2rem;
}

.article-text-box {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.article-title {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.3;
}

.article-title a:link, 
.article-title a:visited {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s;
}

.article-title a:hover, 
.article-title a:active {
    color: rgba(34, 34, 34, 0.6);
}

.article-text {
    line-height: 1.5;
}

/****LIGHT GREY****/

.section--light-grey {
    background-color: #eee;
}

/****DARK****/

.section--dark {
    background-color: #222;
    color: #fff;
}

.section--dark .article-meta a:link, 
.section--dark .article-meta a:visited {
    color: rgba(255, 255, 255, 0.6);
}

.section--dark .article-meta a:hover, 
.section--dark .article-meta a:active {
    color: #fff;
}

.section--dark .article-meta p {
    color: rgba(255, 255, 255, 0.6);
}

.section--dark .article-meta span::after {
    border-right: 1px solid rgba(255, 255, 255, 0.6);
}

/*FOOTER*/

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    padding: 3.2rem 0 3.2rem;
}

.footer-text {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.5;
}

.footer-text a:link, .footer-text a:visited {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    border-bottom: 2px solid transparent;
    transition: all 0.3s;
}

.footer-text a:hover, .footer-text a:active {
    color: #fff;
    border-bottom: 2px solid #fff;
}

/*MEDIA QUERIES*/

@media (max-width: 1120px) {
    .articles {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px) {
    .secondary-nav {
        display: none;
    }
}

@media (max-width: 585px) {
    .articles {
        grid-template-columns: repeat(1, 1fr);
    }
}